@import url('https://fonts.googleapis.com/css?family=Montserrat');

.intro {
    margin: auto;
    margin-top: 130px;
    width: 17em;
    text-align:center;
    font-size: 45px;
    font-family: 'Montserrat';
    color: white;
    
}

html {
    scroll-behavior: smooth;
}


@media screen and (max-width: 600px) {
    p {
        font-size: 25px;
        width: auto;
    }
    
    nav {
        width: auto;
    }

    .button-container {
        float: none;
        margin: 0 auto;
    }

    #github {
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 15px;
    }

    .project-box {
        width: 30%; /* Set width to 90% of the viewport width */
        padding: 10px; /* Reduce padding for smaller screens */
        margin: 10px auto; /* Adjust margin for smaller screens */
    }

}

#tsparticles {
    width: 100%;       /* Make it cover the entire width of the screen */
    height: 500px;     /* Set a desired height */
    position: absolute; /* Or fixed, depending on your layout needs */
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0;
    text-align: center;
    border-radius: 10px; /* Adjust the value to change the roundness */
    opacity: .9;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px; /* Adjust the value to change the roundness */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}


.button-container {
    text-align: center;
    margin-top: 50px;
}

#github {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background-color: white;
    
}

#github:hover {
    background-color: rgb(216, 216, 216);
}

#logo {
    margin-left: 5px; /* Adjust margin-left to create space between text and logo */
    width: 30px; /* Adjust the width of the logo as needed */
    margin-bottom: 2.2px;
}

h1, h2, h3 {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat';
}



.project-box {
    width: 1200px; /* Adjust the width as needed */
    margin: 100px auto; /* Center the project box horizontally */
    padding: 30px; /* Add padding for spacing */
    background-color: #f0f0f0; /* Set background color */
    border-radius: 20px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.project-box:first-child {
    margin-top: 200px; /* Increase top margin for the first project box */
}

.project-box h1 {
    margin-top: 0; /* Remove default margin */
    font-family: 'Montserrat';
    font-size: 45px;
    text-align: center;
}

.project-box p {
    margin-bottom: 10px; /* Add spacing between description and image */
    color: black;
    font-family: 'Montserrat';
    font-size: 30px;
    width: 53%; /* Take 70% of the container width */
    float: left; /* Float the paragraph to the left */
}

.project-box img {
    max-width: 45%; /* Take 30% of the container width */
    float: right; /* Float the image to the right */
}
.project-box:after {
    content: "";
    display: table;
    clear: both; /* Clear floats after the content */
}


.skills-box {
    display: flex;
    flex-wrap: wrap; /* Allow skills to wrap to the next line */
    justify-content: center; /* Center skills horizontally */
    width: 900px;
    margin: 100px auto;
    padding: 0; /* Set padding to 0 */
}

.skill {
    text-align: center;
    margin: 0; /* Set margin to 0 */
    flex: 1 0 30%; /* Set the flex basis to ensure 4 skills on the first line */
    max-width: 25%; /* Set maximum width to ensure 4 skills on the first line */
    transition: transform 0.3s ease; /* Add a transition for smooth scaling */
}

.skill:nth-child(4n + 1) {
    margin-bottom: 50px; /* Add margin-bottom to every 4th skill (the start of a new row) */
}

.skill:hover {
    transform: scale(1.1); /* Scale the skill container on hover */
}

.skill img {
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
    width: auto; /* Allow the width to adjust based on the image */
    max-height: 100px; /* Set a maximum height for the image */
}

.skill p {
    margin-top: 10px; /* Adjust spacing between image and text */
    margin-bottom: 10px; /* Add bottom margin */
    font-size: 20px;
    font-family: 'Montserrat';
    transition: transform 0.3s ease; /* Add a transition for smooth scaling */
}

.skill:hover p {
    transform: scale(1.1); /* Scale the text on hover */
}
#projects {
    padding-top: 300px; /* Adjust the value as needed */
}

.education-box {
    width: 678px; /* Adjust the width as needed */
    margin: 80px auto; /* Center the education box horizontally */
    padding: 30px; /* Add padding for spacing */
    background-color: #f0f0f0; /* Set background color */
    border-radius: 20px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    height: 200px;
}

.education-box img {
    width: 200px; /* Adjust the width of the image */
    margin-right: 20px;
}

.education-content {
    flex-grow: 1;
}

.education-content p:first-child {
    font-size: 24px; /* Larger font size for the first paragraph */
}
.education-content p {
    margin: 5px 0;
}

.education-content ul {
    list-style-type: disc; /* Use bullet points */
    padding-left: 20px;
}

.education-content ul li {
    margin-bottom: 5px;
}
